@import "tailwindcss";

html,
body,
#root {
  height: 100%;

  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to bottom,
    hsla(212, 94%, 49%, 0.438),
    rgb(66, 33, 59)
  );
}
