@import "tailwindcss";

@theme {
  --breakpoint-xxs: 20rem;
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 120rem;
}
html,
body,
#root {
  height: 100%;

  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: visible;
}
#about {
  background: linear-gradient(
    to bottom,
    hsl(212, 100%, 17%),
    rgba(44, 6, 214, 0.702)
  );
}
